# Project information
site_name: WebSoft Guide
site_author: Vladislav Zagoskin

# Repository
repo_name: heimdall/websoft-guide
repo_url: https://github.com/GaliFrey/websoft-guide.git

# Copyright
copyright: Copyright &copy; 2021 - 2025 Vladislav Zagoskin

# Configuration
theme:
  name: material
  features:
    # - content.action.edit
    # - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - navigation.expand
    - navigation.tabs
    - navigation.tabs.sticky
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  language: ru
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - md_in_html

# Page tree
nav:
  - Главная: index.md
  - Материалы:
    - SQL/Xquery:
      - Работа с XML в MS SQL: materials/mssql-xml-tutorial/index.md
      - Работа с XML в Postgres: materials/postgres-xml-tutorial/index.md
      - Как XQuery превращается в SQL: materials/xquery-to-sql/index.md
    - .Net библиотеки:
      - WebSoft.Zip.dll: materials/dotnet-websoft-zip/index.md
      - WebSoft.RegExp.dll: materials/dotnet-websoft-regexp/index.md
    - WebSocket:
      - WebSocket'ы в WebTutor: materials/websocket-tutorial/index.md
  - Разработки:
    - Выполнение скриптов при запуске сервера: developments/server_startup_scripts/index.md
    - Отслеживаем данные о перезагрузке сервера: developments/server_restart_info/index.md
    - Настройка отправки СМС через систему WebTutor: developments/notification_system_prostor_sms/index.md
    - Настройка SQL Server для отправки email писем: developments/mssql_database_mail/index.md
  - Контакты: contacts.md
